In [1]:
my_dictionary = {'key1' : {'subkey1' : [23, 24, 25], 'subkey2' : [20, 24, 29], 'subkey3' : [25, 28, 35]},
                     'key2' : {'subkey1' : [-23, -24, -25], 'subkey2' : [-20, -24, -29]},
                     'key3' : [('Ravi', 'Mahesh', 'Mary', 'Johnson'), ([(23, 39), (45, 90)], ('Doctor', 'Engineer'))]}

Exercise :
    
    1. Find the subkey in key1 of my dictionary with maximum average
    2. Find the sum of subkey2 in key2 of my dictionary
    3. Access the last character of last name of first element of key3 - 'n'
    4. Access the last element of first element of second element of key3 - (45, 90)
    5. Access the fourth letter of "Engineer" - "n"

In [18]:
key1_subkeys = my_dictionary['key1']
max_subkey = max(key1_subkeys, key=lambda k: sum(key1_subkeys[k]) / len(key1_subkeys[k]))
print(f"Subkey in key1 with maximum average: {max_subkey}")

Subkey in key1 with maximum average: subkey3

In [2]:
sum_subkey2 = sum(my_dictionary['key2']['subkey2'])
print("Sum of subkey2 in key2:", sum_subkey2)

Sum of subkey2 in key2: -73

In [3]:
last_name = my_dictionary['key3'][0][-1]
last_character = last_name[-1]
print("Last character of last name:", last_character)

Last character of last name: n

In [10]:
last_element = my_dictionary['key3'][1][0][-1]
print("Last element:", last_element)

Last element: (45, 90)

In [16]:
fourth_letter = my_dictionary['key3'][1][1][-1][-4]
print("Fourth letter of 'Engineer':", fourth_letter)

Fourth letter of 'Engineer': n