# **DAY 2**

In [2]:
list1 = ['book', 'man', 'woman']
list2 = ['character', 'python', 'location', 'green']
list3 = ['python', 'mumbai', 'melbourne']
list4 = ['parliament', 'sport', 'ecommerce']

In [ ]:
'''
Write function that takes in 4 list of strings and returns 4 list of length of maximum string

Example : list1 = ['book', 'man', 'woman']
          list2 = ['character', 'python', 'location', 'green']
          list3 = ['python', 'mumbai', 'melbourne']
          list4 = ['parliament', 'sport', 'ecommerce']

func1(list1, list2, list3, list4) ->  [5, 9, 9, 10]

Once you get the list call another function which normalizes the list.

Example : list1 = [5, 9, 9, 10]

func2(list1) -> [5/33, 9/33, 9/33, 10/3]
'''

In [3]:
def fun1(l1,l2,l3,l4):
    ls = [l1,l2,l3,l4]
    max_list = []
    for l in ls:
        len_list = [len(ele) for ele in l]
        max_list.append(max(len_list))
    return max_list

final_list_1 = fun1(list1,list2,list3,list4)
final_list_1
def fun2(l):
    l = [ele/sum(l) for ele in l]
    return l

final_list_2 = fun2(final_list_1)
final_list_2

[0.15151515151515152,
 0.2727272727272727,
 0.2727272727272727,
 0.30303030303030304]

In [ ]:
'''
1. Write a function which takes in a value 5(arbitrary) and prints you the output like this

*
**
***
****
*****

2. Write a function which takes in a value 5(arbitrary) and prints you the output like this

    *
   * *
  *   *
 *     *
* * * * *

3. Write a function which takes in a value 5(arbitrary) and prints you the output like this

    *
   ***
  *****
 *******
*********

4. Write a function which takes in a value 5(arbitrary) and prints you the output like this

* * * * *
*       *
*       *
*       *
* * * * *
'''

In [4]:
def right_tri(n):
    for i in range(n+1):
        print("*"*i)
        # print("* "*i)
right_tri(5)

def some_stars(n=5):
    for i in range(n):
        stars = 2*i+1
        if i not in (0,n-1):
            if i ==1:
                print(" "*(n-i),"*","*")
            else:
                print(" "*(n-i),"*",f" "*max(1,2*(i-1)-1),"*")
        else:
            print(f" "*(n-i-1)," *"*max(0,i+1))
some_stars(5)

def full_stars(n=5):
    for i in range(n):
        stars = 2*i+1
        # print(stars,n-i)
        print(" "*(n-i),"*"*stars)

full_stars(5)

def square(n=5):

    for i in range(5):
        if i in [0,n-1]:
            print("* "*n)
        else:
            print("* "," "*(n-1),"* ")
square(5)

*
**
***
****
*****
      *
     * *
    *   *
   *     *
  * * * * *
      *
     ***
    *****
   *******
  *********
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
'''
Write a function which can return the even number of letters of the text which is given as an argument. Write a second functions which takes in the return value of the first function and converts the letters to uppercase and gives the count of letters in return

For example :

Text : 'I am learning python at simplilearn'

First function will take this text as argument and return

['I', 'm', 'e', 'r', 'i', 'g', ........]


The second function will take this list as argument and return

['I' : 2 , 'M' : 1, 'E' : 1, 'R' : 1 , 'G' : 1.......]
'''

In [5]:
def fun1(text):
    return list(Text.replace(" ",""))[::2]


Text =  'I am learning python at simplilearn'
fun1_result  = fun1(Text)
fun1_result
def fun2(result):
    new_dict = {}
    upper_list = [i.upper() for i in fun1_result]

    for letter in upper_list:
        if letter not in new_dict:
            new_dict[letter] = upper_list.count(letter)

    return new_dict

fun2(fun1_result)

{'I': 4,
 'M': 1,
 'E': 2,
 'R': 2,
 'G': 1,
 'Y': 1,
 'H': 1,
 'N': 1,
 'T': 1,
 'P': 1}

In [ ]:
Exercise :

1. Create a list of 10 employees
2. Create tuple of salaries of these 10 employees
3. Create a tuple of rating of these 10 employees ( 0 - 10 )
4. Generate a dictionary of employees and their new salaries based on their ratings
    The update to salaries should be as
    a. For rating 0 - 3 no salaries should be updated
    b. For rating 3 - 5 a 3% increment to be given
    c. For rating 5 - 7 a 5% increment to be given
    d. For rating 7 - 9 a 7% increment to be given
    e. For rating 9 and above a 7% increment and a bonus of 10% of initial salary to be given

In [4]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
salaries = (10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000)
ratings = (2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3)

In [5]:
employee_list = {}
for i in range(len(employee)):
    if ratings[i]<3:
        employee_list[employee[i]] = salaries[i]
    elif ratings[i]<5:
        employee_list[employee[i]] = salaries[i]*1.03
    elif ratings[i]<7:
        employee_list[employee[i]] = salaries[i]*1.05
    elif ratings[i]<9:
        employee_list[employee[i]] = salaries[i]*1.07
    else:
        employee_list[employee[i]] = salaries[i]*1.17

In [6]:
print(employee_list)

{'John': 10000, 'Mary': 12360.0, 'Krishna': 13390.0, 'Namesh': 21645.0, 'Aastha': 11770.0, 'Jason': 20790.0, 'Kavita': 21000.0, 'Ravi': 24205.0, 'Shruti': 20811.5, 'Shubham': 9360.0}

In [ ]:
# 1. What is the output of the following code?

var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: ignored

In [ ]:
# 2. What is the output of the following code?

valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [ ]:
# 3. What is the output of the following

x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [ ]:
# 4. What is the output of the following code?

var= "James Bond"
print(var[2::-1])

maJ

In [ ]:
# 5. What is the output of the following code?

p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [ ]:
# 6. What is the output of the following code?

str = "pynative"
print (str[1:3])

yn

In [ ]:
# 7. What is the output of the following code?

sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: ignored

In [ ]:
# 8. What is the output of the following code?

sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: ignored

In [ ]:
# 9. What is the output of the following code?

var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [ ]:
# 10. What is the output of the following code?

listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [ ]:
# 10. What would be the output of the following

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [ ]:
# 11. What would be the output of the following

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [ ]:
# 12. What is the following code doing ?

L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']

# **DAY 1**

In [ ]:
my_dictionary = {'key1' : {'subkey1' : [23, 24, 25], 'subkey2' : [20, 24, 29], 'subkey3' : [25, 28, 35]},
                     'key2' : {'subkey1' : [-23, -24, -25], 'subkey2' : [-20, -24, -29]},
                     'key3' : [('Ravi', 'Mahesh', 'Mary', 'Johnson'), ([(23, 39), (45, 90)], ('Doctor', 'Engineer'))]}

Exercise :
    
    1. Find the subkey in key1 of my dictionary with maximum average
    2. Find the sum of subkey2 in key2 of my dictionary
    3. Access the last character of last name of first element of key3 - 'n'
    4. Access the last element of first element of second element of key3 - (45, 90)
    5. Access the fourth letter of "Engineer" - "n"

In [ ]:
key1_subkeys = my_dictionary['key1']
max_subkey = max(key1_subkeys, key=lambda k: sum(key1_subkeys[k]) / len(key1_subkeys[k]))
print(f"Subkey in key1 with maximum average: {max_subkey}")

Subkey in key1 with maximum average: subkey3

In [ ]:
sum_subkey2 = sum(my_dictionary['key2']['subkey2'])
print("Sum of subkey2 in key2:", sum_subkey2)

Sum of subkey2 in key2: -73

In [ ]:
last_name = my_dictionary['key3'][0][-1]
last_character = last_name[-1]
print("Last character of last name:", last_character)

Last character of last name: n

In [ ]:
last_element = my_dictionary['key3'][1][0][-1]
print("Last element:", last_element)

Last element: (45, 90)

In [ ]:
fourth_letter = my_dictionary['key3'][1][1][-1][-4]
print("Fourth letter of 'Engineer':", fourth_letter)

Fourth letter of 'Engineer': n