# **DAY 2**

In [ ]:
Exercise :

1. Create a list of 10 employees
2. Create tuple of salaries of these 10 employees
3. Create a tuple of rating of these 10 employees ( 0 - 10 )
4. Generate a dictionary of employees and their new salaries based on their ratings
    The update to salaries should be as
    a. For rating 0 - 3 no salaries should be updated
    b. For rating 3 - 5 a 3% increment to be given
    c. For rating 5 - 7 a 5% increment to be given
    d. For rating 7 - 9 a 7% increment to be given
    e. For rating 9 and above a 7% increment and a bonus of 10% of initial salary to be given

In [4]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
salaries = (10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000)
ratings = (2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3)

In [5]:
employee_list = {}
for i in range(len(employee)):
    if ratings[i]<3:
        employee_list[employee[i]] = salaries[i]
    elif ratings[i]<5:
        employee_list[employee[i]] = salaries[i]*1.03
    elif ratings[i]<7:
        employee_list[employee[i]] = salaries[i]*1.05
    elif ratings[i]<9:
        employee_list[employee[i]] = salaries[i]*1.07
    else:
        employee_list[employee[i]] = salaries[i]*1.17

In [6]:
print(employee_list)

{'John': 10000, 'Mary': 12360.0, 'Krishna': 13390.0, 'Namesh': 21645.0, 'Aastha': 11770.0, 'Jason': 20790.0, 'Kavita': 21000.0, 'Ravi': 24205.0, 'Shruti': 20811.5, 'Shubham': 9360.0}

In [ ]:
# 1. What is the output of the following code?

var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: ignored

In [ ]:
# 2. What is the output of the following code?

valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [ ]:
# 3. What is the output of the following

x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [ ]:
# 4. What is the output of the following code?

var= "James Bond"
print(var[2::-1])

maJ

In [ ]:
# 5. What is the output of the following code?

p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [ ]:
# 6. What is the output of the following code?

str = "pynative"
print (str[1:3])

yn

In [ ]:
# 7. What is the output of the following code?

sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: ignored

In [ ]:
# 8. What is the output of the following code?

sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: ignored

In [ ]:
# 9. What is the output of the following code?

var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [ ]:
# 10. What is the output of the following code?

listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [ ]:
# 10. What would be the output of the following

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [ ]:
# 11. What would be the output of the following

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [ ]:
# 12. What is the following code doing ?

L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']

# **DAY 1**

In [ ]:
my_dictionary = {'key1' : {'subkey1' : [23, 24, 25], 'subkey2' : [20, 24, 29], 'subkey3' : [25, 28, 35]},
                     'key2' : {'subkey1' : [-23, -24, -25], 'subkey2' : [-20, -24, -29]},
                     'key3' : [('Ravi', 'Mahesh', 'Mary', 'Johnson'), ([(23, 39), (45, 90)], ('Doctor', 'Engineer'))]}

Exercise :
    
    1. Find the subkey in key1 of my dictionary with maximum average
    2. Find the sum of subkey2 in key2 of my dictionary
    3. Access the last character of last name of first element of key3 - 'n'
    4. Access the last element of first element of second element of key3 - (45, 90)
    5. Access the fourth letter of "Engineer" - "n"

In [ ]:
key1_subkeys = my_dictionary['key1']
max_subkey = max(key1_subkeys, key=lambda k: sum(key1_subkeys[k]) / len(key1_subkeys[k]))
print(f"Subkey in key1 with maximum average: {max_subkey}")

Subkey in key1 with maximum average: subkey3

In [ ]:
sum_subkey2 = sum(my_dictionary['key2']['subkey2'])
print("Sum of subkey2 in key2:", sum_subkey2)

Sum of subkey2 in key2: -73

In [ ]:
last_name = my_dictionary['key3'][0][-1]
last_character = last_name[-1]
print("Last character of last name:", last_character)

Last character of last name: n

In [ ]:
last_element = my_dictionary['key3'][1][0][-1]
print("Last element:", last_element)

Last element: (45, 90)

In [ ]:
fourth_letter = my_dictionary['key3'][1][1][-1][-4]
print("Fourth letter of 'Engineer':", fourth_letter)

Fourth letter of 'Engineer': n